@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/pretendard/Pretendard-Black.ttf");
}

.mainMenuWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 게임 타입
.gameTypeBox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 80%;
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
  // margin: 0 auto;
}

.gameType {
  width: 457px;
  height: 486px;
  background-image: url("../../img/popupRectangle.png");
  margin: 0 20px;
  text-align: center;

  h1 {
    font-size: 50px;
    font-family: "Pretendard";
    color: white;
    margin-top: 60px;
  }

  div {
    width: 230px;
    height: 230px;
    margin: 50px auto;
  }

  button {
    margin-top: 210px;
  }
}

// 방만들기 버튼 등
.btnbtn {
  width: 397px;
  height: 100px;
  // background-image: linear-gradient(108.62deg, #FF00C5 2.2%, #00FFF0 115.74%);
  background-image: url("../../img/startGameBtn.png");
  color: white;
  font-size: 50px;
  border-radius: 32px;
  font-family: "Pretendard";
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    &:before {
      transform: skewX(-45deg) translateX(13em);
      transition: all 0.5s ease-in-out;
    }
  }
}

.roomType {
  width: 457px;
  height: 486px;
  background-image: url("../../img/popupRectangle.png");
  margin: 0 20px;
  text-align: center;

  h1 {
    font-size: 50px;
    font-family: "Pretendard";
    color: white;
    margin-top: 60px;
  }
}

.joinCode {
  width: 396px;
  height: 70px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #FFFFFF;
  margin: 70px auto;

  input {
    width: 90%;
    font-family: "Pretendard";
    font-weight: bold;
    font-size: 32px;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: center;
    line-height: 1.9;
  }
}