@font-face {
  font-family: "PretendardSemibold";
  src: url("../../fonts/pretendard/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Regular.ttf");
}

.rankingPageWrapper {
  width: 1079px;
  height: 486px;
  border: 20px;
  background-image: url("../../img/rankingBox.png");
  margin: 70px auto;
  padding: 5px;
  display: flex;
}

// 노래 필터
.songFilterWrapper {
  width: 40%;
  height: 478px;
  border-radius: 24px 0 0 24px;
  background-color: #181A20;
  color: white;
  font-family: "PretendardSemibold";
  // position: absolute;
  top: 1%;
  left: 1%;
  padding: 80px 30px 30px 30px;
}

.songDropdown {
}

.songDropdownHeader {
  width: 365px;
  height: 62px;
  border-radius: 58px;
  border: 1px solid #d9d9d9;
  font-size: 24px;
  padding: 13px 35px;
}

.downArrow {
  width: 16px;
  height: 10px;
  float: right;

  img {
    width: inherit;
    height: inherit;
  }
}

.songDropdownList {
  width: 365px;
  font-size: 24px;
  border-radius: 24px;
  padding: 13px 35px;;
  border: 1px solid #d9d9d9;
  margin-top: 2px;
  position: absolute;
  z-index: 5;
  background-color: #181A20;
  opacity: 0.9;
}

.songDropdownItem {
  margin: 10px 0;
}

.albumSongWrapper {
  margin: 60px 0;
  display: flex;
}

.albumSongImg {
  width: 180px;
  height: 180px;
  border-radius: 22px;

  img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
}

.albumSongList {
  margin-left: 20px;
  margin-top: 20px;
}

.albumSongTitle {
  font-size: 30px;
}

.albumSongArtist {
  font-size: 20px;
  margin-bottom: 20px;
}

.albumSongDifficulty {
  font-size: 20px;
}

// 노래별 랭킹
.songRankingWrapper {
  width: 60%;
  color: white;
  font-size: 2rem;
  border-radius: 0 24px 24px 0;
  font-family: "Lato";
  overflow-y: auto;
  padding: 20px 0;
}

.songRankingUl {

}

@keyframes fadeOutMoveUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.songRankingLi {
  width: 480px;
  height: 130px;
  background-image: url("../../img/teamRankingBox.png");
  margin: 20px auto;
  display: flex;
  animation: fadeOutMoveUp 1s forwards; 
}

.eachOtherScore {
  width: 33%;
  margin: 10px 0 0 30px;

  p {
    width: 100%;
    font-size: 20px;
  }
}

.totalScore {
  width: 67%;
  font-size: 30px;
  margin: auto 0;
}