@font-face {
  font-family: "PretendardSemibold";
  src: url("../../fonts/pretendard/Pretendard-SemiBold.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato/Lato-Regular.ttf");
}

.rankingPageWrapper {
  width: 1079px;
  height: 486px;
  border: 20px;
  background-image: url("../../img/rankingBox.png");
  margin: 70px auto;
  padding: 5px;
  display: flex;
}

// 노래 필터
.songFilterWrapper {
  width: 40%;
  height: 478px;
  border-radius: 24px 0 0 24px;
  background-color: #181A20;
  color: white;
  font-family: "PretendardSemibold";
  // position: absolute;
  top: 1%;
  left: 1%;
  padding: 30px;
}

.songDropdown {
}

.songDropdownHeader {
  width: 365px;
  height: 62px;
  border-radius: 58px;
  border: 1px solid #d9d9d9;
  font-size: 24px;
  padding: 13px 35px;
}

.downArrow {
  width: 16px;
  height: 10px;
  float: right;

  img {
    width: inherit;
    height: inherit;
  }
}

.songDropdownList {
  width: 365px;
  font-size: 24px;
  border-radius: 24px;
  padding: 13px 35px;;
  border: 1px solid #d9d9d9;
  margin-top: 2px;
  position: absolute;
  z-index: 5;
  background-color: #181A20;
  opacity: 0.9;
}

.songDropdownItem {
  margin: 10px 0;
}

.albumSongWrapper {
  margin: 60px;
  display: flex;
}

.albumSongList {

}

.albumSongTitle {
  font-size: 36px;
}

.albumSongArtist {
  font-size: 20px;
}

.albumSongDifficulty {
  font-size: 20px;
}

// 노래별 랭킹
.songRankingWrapper {
  width: 60%;
  color: white;
  font-size: 2rem;
  border-radius: 0 24px 24px 0;
  font-family: "Lato";
}


.songRankingLi {
  width: 480px;
  height: 130px;
  background-image: url("../../img/teamRankingBox.png");
  margin: 20px auto;
  display: flex;
}

.eachOtherScore {
  margin: 10px 30px;

  p {
    font-size: 20px;
  }
}

.totalScore {
  font-size: 32px;
  margin: 45px;
}