/* .background-albumCover {
  height: 90vh;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;

  background-repeat: no-repeat;

  background-color: black;
  background-image: var(--background-url);
  background-size: cover;
  background-position: center;

  filter: blur(20px);
} */

.Note {
  position: relative;
  display: inline-block;
  top: 0px;
  left: 110%;

  height: 100%;
  width: 20px;

  z-index: 1200;
  background-color: rgba(0, 0, 0, 1);

  color: white;
  text-align: center;
  align-items: center;
  /* slideLeft앞에 $ 붙이기 */
  /* animation: {slideLeft} 4s linear infinite; */
}