.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 80%;
  min-height: 80%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  z-index: 1001;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-button {
  padding: 20px;
  border: none;
  border-radius: 50px;
}