@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/pretendard/Pretendard-Black.ttf");
}

.room-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 20px 0;
  background-image: url("../../img/mainpage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.room-title {
  text-align: center;
  margin: 0 auto;
  width: 618px;
  height: 100px;
  background-image: url("../../img/roomTitle.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 1.9;
}

// 노래 웹 캠 등의 전체 박스
.roomMainWrapper {
  width: 1504px;
  height: 611px;
  border-radius: 26px;
  background-image: url("../../img/roomUI.png");
  margin: 40px auto 0 auto;
  border-radius: 20px;
}

.roomMainInnerWrapper {
  width: 90%;
  // border: 1px solid white;
  margin: 0 auto;
  padding-top: 50px;
}



// 노래, 입장 코드, 박스
.roomMiddleWrapper {
  display: flex; 
  justify-content: space-between
}

// 선택된 노래 박스
.showSongWrapper {
  display: flex;
}

.songImg {
  width: 200px;
  height: 200px;
  border-radius: 24px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
  }
}

.roomSelectSongBox {
  margin-left: 30px;

  h2 {
    font-size: 36px;
    color: white;
  }

  p {
    font-size: 20px;
    color: white;
    margin-top: 5px;
  }
}

.selectSongBtn {
  width: 106px;
  height: 48px;
  background-color: white;
  border-radius: 12px;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    background-color: #d9d9d9;
  }
}

.roomMiddleRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// 게임 시작 버튼
.gameStartBtn {
  width: 397px;
  height: 100px;
  // background-image: linear-gradient(108.62deg, #FF00C5 2.2%, #00FFF0 115.74%);
  background-image: url("../../img/startGameBtn.png");
  color: white;
  font-size: 50px;
  border-radius: 32px;
  font-family: "Pretendard";
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    &:before {
      transform: skewX(-45deg) translateX(13em);
      transition: all 0.5s ease-in-out;
    }
  }
}

// 방 입장 코드
.secretCodeWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    width: 55px;
    height: 29px;
    border-radius: 7px;
    background-color: #575757;
    font-size: 16px;
    color: white;
    font-family: "Pretendard";
  }
}

.secretCode {
  width: 259px;
  height: 29px;
  text-align: center;
  font-size: 24px;
  text-align: right;
  color: white;
  font-family: "Pretendard";
  margin-right: 10px;
}

// 채팅버튼
.chattingBtn {
  width: 110px;
  height: 36px;
  border-radius: 11px;
  background-color: white;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}


// 방장
.masterSymbol {
  background-color: #181A20;
  width: 250px;
  color: white;
  cursor: pointer;
  padding: 13px 0;
  font-size: 32px;
  margin: 20px 0;
  background-image: url("../../img/masterSymbol.png");
  text-align: center;
  border-radius: 26px;
}

//악기 모달
.instrumentModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: #181A20;
  // opacity: 0.8;
  color: white;
  background-image: url("../../img/instrumentBox.png");
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  ul {
    list-style: none;
    font-size: 2rem;
    font-family: "Pretendard";

    li {
      width: inherit;
      margin: 30px 0;
      text-align: center;
      text-transform:uppercase;

      &:hover {
        color: #47B5B4;
        font-size: 2.2rem;
        cursor: pointer;
      }
    }
  }
}

// 웹 캠 전체 박스
.playersBox {
  width: 100%;
  display: flex;
  justify-content: space-around;

  h2 {
    margin: 0;
    text-align: center;
    }
}

// 유저 각각의 박스
.playersContainer {
  width: 250px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: 30px auto 0 auto;
}

.playersBoxDiv {
  width: 250px;
  // height: 266px;
  border-radius: 24px;
  background-image: url("../../img/showWebCam.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  margin: 0 auto;

  video {
    width: inherit;
    height: inherit;
    border-radius: 24px;
  }

  p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

.playersBoxInner {
  width: 220px;
  height: 160px;
  border-radius: 16px;
  margin: 20px auto 10px auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

// 내 악기
.myInstrument {
  text-transform:uppercase;
  
  &:hover {
    color: #47B5B4;
    cursor: pointer;
  }
}