// 웹 캠 전체 박스
.webCamBox {
  width: 100%;
  display: flex;

  h2 {
    margin: 0;
    text-align: center;
    }
}

// 유저 각각의 박스
.playerContainer {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  margin-top: 20px;
  margin-right: 100px;
}

.webCamBoxDiv {
  width: 250px;
  // height: 266px;
  border-radius: 24px;
  background-image: url("../../img/showWebCam.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  video {
    width: inherit;
    height: inherit;
    border-radius: 24px;
  }

  p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

.webCamBoxInner {
  width: 214px;
  height: 160px;
  border-radius: 16px;
  border: 1px solid white;
  margin: 20px auto 10px auto;
  position: relative;
}