* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 65px; /* 원하는 커서 너비 */
  height: 65px; /* 원하는 커서 높이 */
  background: url('img/cursor/customCursor.svg') no-repeat center center / contain;
  pointer-events: none; /* 커서가 다른 요소와 상호작용하지 않도록 설정 */
  z-index: 20000;
}

.pageEvent {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: auto auto;
	overflow: hidden;
}

/* App.css 파일에 추가 */
.animate_content {
  animation: animate 1.5s ease;
}

@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

.fadeIn {
  z-index: 10;
}

